In [1]:
import pandas as pd

In [5]:
data = pd.read_csv('processed_data.csv')
data.drop('Unnamed: 0', axis=1, inplace=True)
data

,date,asset,open,high,low,close,volume,macd,rsi,cci,adx,turbulence
0,2009-09-15,F_AD,0.8562,0.8586,0.8502,0.8570,69511.0,-0.000021,52.996928,1.242236,28.582124,0.000000
1,2009-09-15,F_AE,307.0000,310.1000,305.7500,308.4000,25039.0,0.066158,76.360837,75.234270,2.071495,0.000000
2,2009-09-15,F_AH,125.5000,127.5000,123.6000,126.8000,4750.0,0.062673,69.297401,115.846995,81.217224,0.000000
3,2009-09-15,F_AX,5625.0000,5651.5000,5589.0000,5622.5000,58275.0,0.894771,89.338889,56.559767,36.804582,0.000000
4,2009-09-15,F_BC,68.4800,70.0000,67.5200,69.8600,148349.0,0.009698,51.605627,34.322034,4.021653,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
234541,2021-04-28,F_VX,19.8300,20.0000,19.5000,19.6632,51607.0,-0.675162,43.453717,-79.452766,10.860870,238.660516
234542,2021-04-28,F_W,733.0000,741.2500,711.5000,722.7500,99735.0,24.298420,63.609729,174.848804,60.318153,238.660516
234543,2021-04-28,F_XX,3370.0000,3377.0000,3360.0000,3371.0000,294.0,29.784574,60.297204,90.658759,12.892811,238.660516
234544,2021-04-28,F_YM,33815.0000,33868.0000,33690.0000,33724.0000,108901.0,332.910848,60.716046,65.020676,11.572975,238.660516
234545,2021-04-28,F_ZQ,99.9200,99.9300,99.9200,99.9300,81801.0,-0.002045,51.167094,-92.326142,5.286992,238.660516

In [12]:
data['close'].max()

34081.0

In [35]:
assets = data['asset'].unique()
for asset in assets:
    temp = data[data['asset'] == asset]
    temp['cci'] = (temp['cci'] - temp['cci'].mean()) / temp['cci'].std()
    data.loc[data['asset'] == asset, 'cci'] = temp['cci']

<ipython-input-35-7c72aa933e1b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp['cci'] = (temp['cci'] - temp['cci'].mean()) / temp['cci'].std()

In [40]:
data['close'].argmin()

227467

In [52]:
import matplotlib.pyplot as plt